@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #3e3636;
	--primary-color: #2e808a;
	--secondary-color: #c1654d;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-gradient {
	background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
	-webkit-background-clip: text;
	color: transparent;
}

body {
	margin: 0;
	@apply font-asap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-arya font-bold;
}

@font-face {
	font-family: 'Arya';
	src: url('./../fonts/Arya/Arya-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Arya';
	src: url('./../fonts/Arya/Arya-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Asap';
	src: url('./../fonts/Asap/Asap-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Asap';
	src: url('./../fonts/Asap/Asap-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Asap';
	src: url('./../fonts/Asap-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
  }